@tailwind base;
@tailwind components;
@tailwind utilities;
li{
  list-style: none;
}
.App {
  text-align: center;
}

.menu{
  padding: 1rem;
}

li a{font-size: 15px;
font-weight: bold;
background-color:  rgba(211, 125, 44, 0.556);
padding: .5rem;
border-radius: 1rem;
}

span{
  
  background-color: brown;
  padding: .2rem;
  border-radius: 2rem;
  height: 30px;
  color: white;
}
.Container{
  display: flex;
}
.CardItem{
  background-color: rgb(247, 247, 247);
  Display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  gap:4rem;
  margin-bottom: 4rem;
  border-radius: 3rem;
}
picture img{
  width: 15vw;
  border-radius: 3rem;
  align-self: center;
}


.ItemHeader{
  font-size: 30px;
}

.btn{
  padding: 2rem;
  background-color: brown;
  border-radius: 3rem;
  
}

.saludos{
  display: flex;
  flex-direction: column;
}

.saludos h1{
  padding: 5rem;
  font-size: 35px;
  background-color: rgb(198, 110, 28);
  font-weight: bold;
}

.ListGroup h2{
  font-size: 28px;
  font-weight: bold;
  margin-top: 3rem;
}

.prodContainer{
  display: flex;
}

.ItemDetailContainer{
  justify-content: center;
  background-color: rgb(198, 110, 28);
  display: flex;
}

.Card{
  
  background-color: rgb(247, 247, 247);
  Display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  gap:4rem;
  margin-bottom: 4rem;
  border-radius: 3rem;
  margin-top: 4rem;
}

.Counter{display: flex;
flex-direction: column;}

.Controls{
  margin-bottom: 2rem;
  display: flex;
}
.Controls .Button{
  width: 5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.Button{
  background-color: brown ;
  padding:.5rem;
  border-radius: 1rem;
  width: 7rem;
  margin-bottom: 1rem;
}

.container-carrito{
  display: flex;
  flex-direction: column;
  line-height: 1.8em;
  margin: 8rem;
  background-color: rgb(198, 110, 28);
  
  
  
}

.container-carrito h1{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
  background-color: burlywood;
  padding: 1rem;
}

.carrito{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 
}

.carrito h2{
  font-size: 23px;
  font-weight: bold;
  margin: 1rem;
}
.total{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.total h3{

  margin: .5rem;
  padding: .5rem;
  background-color: burlywood;
  width: 25rem;
  font-weight: bold;
  font-size: 18px;

}

.botones .orden{
  padding: .86rem;
  background-color: brown;
  margin-bottom: 4rem;
  width: 10rem;
  border-radius: 1rem;
}

.botones .vaciar {
  padding: .86rem;
  background-color: brown;
  margin: 1rem;
  width: 10rem;
  border-radius: 1rem;
}

.botones .comprar{
  border-radius: 1rem;
  background-color: brown;
  padding: 1.05rem;
}

.carrito-vacio h2{
  margin-top: 6rem;
  font-size: 24px;
  font-weight: bold;
}

.carrito-vacio button{
  margin-top: 8rem;
  margin-bottom: 8rem;
  border-radius: 1rem;
  background-color: brown;
  padding: 1.05rem;
  font-size: 19px;
}

.carrito-vacio button:hover{
  background-color: burlywood;
}

.container-form{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(198, 110, 28);
}

.container-form h1{
  font-size: 28px;
  font-weight: bold;
  padding: 1rem;
  background-color: burlywood;

}

.form-orden{display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
 
}

.form-orden label{
  font-size: 20px;
  font-weight: bold;
  margin-left: .5rem;
}

.contenedor-interno{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  width: 60vw;
  align-items: center;
  margin-bottom: 4rem;
}

.contenedor-interno input{
  width: 30vw;
  padding: .5rem;
  border-radius: 1rem;
}

.orden-compra{
  background-color: rgb(198, 110, 28);

}

.orden-compra h2{
  font-size: 28px;
  font-weight: bold;
  margin: 4rem;
}

.orden-compra p{
  font-size: 24px;
}